/* base */
html {
    font-size: 14px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #aaaaaa;
}

html,body{
    width: 100%;
}

.navbar-brand{
    display:none;
}

.menu-form{
    display: none;

}

.nav-link{
    text-transform: uppercase;
}

.menu-form input {
    padding-left: 25px;
}


a:hover {
    text-decoration: none;
}

/* layout */
.container-fluid.-dark {
    background: #33363b;
}

.container-fluid{
    background: #eaeaea;
}

.-sidebar{
    background:#f0f0f0;
}

.container.-main{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
}
.container.-down{
    padding-bottom: 60px !important;
}



.container.-up{
    position: relative;
    top: -60px;
    background: white;
}

.slideup{
    margin-top: 35px;
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
    padding-bottom: 40px;
}

/* content */
.middle {
    position: relative;
    
}

/* left block */
.left-block{
    width: 340px;
    position: absolute;
    height: 100%;
    z-index: 9;
}

.sticky{
    position: sticky;
    top:0;
    transition: .3s top;
}

.stickyoffset{
    top: 59px;
}



.toggle-button-left{
    background: #3b8dbd;
    color: white;
    width: 50px;
    height: 60px;
    font-size: 3rem;
    text-align: center;
    line-height: 3.6rem;
    display: none;
    transition: all 1s;
}
.toggle-button-left i{
    font-weight: bold;

}

/* right block */
.right-block{
    width: 280px;
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
}

.inner-right{

}

.toggle-button-right {
    
}

/* middle block */
.middle-block{
    padding-right: 280px;
    padding-left: 340px;
    padding-top: 29px;
}

/* nav */
.nav.-social{
    background: #3b8dbd;
    padding-right: 1rem;
}


.nav.-social > .nav-link {
    height: 60px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 2rem;
    color: #c5ddeb;
    line-height: 3rem;
}

.nav.-empty{
    height: 60px;
    background: #82b965;
}

/* title */
.title{
    color:#444444;
    text-transform: uppercase;
}


/* search */
.form-control.-wide{
    padding-left: 1.8rem;
}

.fa-search{
    position: absolute;
    left:8px;
    top:10px;
}

/* list-group */
.list-group-flush, .list-group > .list-group-item{
    background:transparent;
    padding-left: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.list-group-flush, .list-group a {
    color: #999999;
}

.list-group-flush, .list-group a:hover{
    text-decoration: none;
    color: #444444;
}

.list-group.-no-border > .list-group-item {
    border: none;
}
.fa.fa-folder-open{
    color: #cccccc;
}
a:hover .fa-folder-open {
    color:#A1A1A1;
}

a:hover :not(span) {
    color:#A1A1A1;
}

.list-group-item h4:hover {
    color: #666666  ;
}

.list-group-item p {
    color: #777;
}

/* card */
.card {
    border: none;
    color: #aaaaaa;
    padding-bottom: 40px;    
}

.card.-bordered{
    border-bottom: 1px solid #eee;
    margin-bottom: 35px;
}
.card a {
    color: #666666;
}


.card .fa.fa-camera-retro{
    opacity: 1;
    transition: opacity 1s;
}

.card:hover .fa.fa-camera-retro {
    opacity: 0;
}
.card:hover a {
    color: #3b8dbd;
}

.card-title.-big{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.card-img-top {
    background:#d5d5d5 ;
    max-width: 100%;
    width: 900px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top.-slim{
    width: 600px;
    height: 155px;
}

.fa.fa-camera-retro{
    font-size: 15rem;
    color: #dcdcdc;
}

.fa.fa-camera-retro.-slim{
    font-size: 7rem;
}


/* breadcrumb */
.breadcrumb.-slim {
    background: white;
    padding: 0;
}

.breadcrumb-item.active{
    font-weight: 500;
    text-transform: uppercase;
}
.breadcrumb-item.active a
{
    color: #3b8dbd;
}

/* sonraki-sayfa */
.sonraki-sayfa {
    color: #3b8dbd;
    display: block;
    text-align: right;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}

.sonraki-sayfa::after {
    content: " »"
}
.sonraki-sayfa:hover {
    color: #444444;
}

/* etiket */
.etiket {
    position: absolute;
    top: 10px;
    right: 0;
    width: 35px;
    height: 35px;
    background: #82b965;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
    transition: width 0.5s;
}

.etiket::after{
    content:"";
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px #82b965 solid;
    position: relative;
    left: -7px;
    top: -24px;
}

.etiket:hover {
    width: 40px;
}
a:hover .etiket, a:hover .fa-comments-o{
    color: #fff;
}

/* footer */

footer {
    min-height: 110px;
    color:rgba(255, 255, 255, 0.5);
}

footer a {
    color: rgba(255, 255, 255, 0.5)
}

footer a:hover,
footer a:hover .fa-wordpress
{
    color: #fff;
}

footer .-text {
    padding: 2rem;
}

.-btn button {
    width: 60px;
    height: 30px;
    color: #777777;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.7rem;
    border: none;
    outline: 0;
}
button:hover .fa-chevron-up {
    color: #444;
}

footer .-social.-footer{
    background: transparent;
    padding: 2rem;
}


.-footer a i{
    color: #c2c3c5;
    font-size: 2.6rem;
}

.-social a:hover i{
    color: #fff;
}


/* trumps */
.w-100{
    padding-bottom: 16px;
}

.w-100 hr {
    margin-right: -15px;
    margin-left: -15px;
}

/* buttons */
.nav.-empty {
    justify-content: center;
    align-items: center;
}
.-out-green i, .left-top-button i{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    transition: all .6s;
}

.-out-green:hover i {
    color: white;
    transform:translateX(-5px);
}

.left-top-button:hover i{
    color: white;
    transform:translateX(5px);
}

/* transforms */

#green-block{
    transition: all 1s;
}

#main-block{
    transition: all 0.5s;
}

#blue-block{
    transition: all 1s;
}

.display-blue {
    position: absolute;
}

.display-green {

}

#main-block{
    z-index: 0;
}

#display-blue{
    z-index: 5;
}

#display-green{
    z-index: 5;
}

/* button events */
.wide260{
    width: 260px !important;
}

.wide340{
    width: 340px !important;
}

.inner-transform{
    width: 340px !important;
    opacity: 1 !important;
    height: 100% !important;

}

.displayblock{
    display: block !important;
}

.translate50{
    transform: translateX(-50px) !important;
}

.translate15{
    transform: translateX(15px) !important;
}

.makewhite{
    background:#f0f0f0 !important;
}

.makegray {
    color: rgb(204, 204, 204) !important;
}



/* media-queries */

@media (max-width: 1200px){
    .container{
        max-width: calc(100% - 30px);

    }

    .right-block{
        width: 50px;
    }

    .middle-block {
        padding-right: 50px;
    }
}

@media (max-width: 960px){
    .container{
        max-width: calc(100% - 30px);

    }

    .left-block{
        width: 50px;
    }

    .middle-block {
        padding-left: 50px;
    }
    .inner-inner-left{
        width: 0;
        opacity: 0;
        height: 0;
        display: none;
        transition: all 1s;
    }

    .toggle-button-left{
        display: block;
    }
}

@media (max-width: 720px){
    .col-6 {
        min-width: 100%;
    }

    footer .col {
        min-width: 100%;
        text-align: center;
    }

    .nav.-footer{
        justify-content: center !important;
        height: 90px;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    .col.-btn{
        order: -1;
    }

    .menu-form, .navbar-brand {
        display: block;
    }

    .navbar-toggle i {
        color: white;
        font-size: 2rem;
    }

    .navbar-expand-custom{
        position: fixed;
        top:0;  
        width: 100%;
        z-index: 99;
        height: 59px;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0;
        max-width: 100%;
        transition: .3s top;
    }

    .img-fluid{
        margin-top: 59px;
    }

    .navbar-collapse.show {
        background: inherit;
        width: 100%;
        margin-left: -20px;
        padding-left: 15px;
        padding-right:45px;
        margin-right:-20px;

    }
    

}

@media (min-width: 720px){
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
      .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
      }
      .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
      }
      .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
      .navbar-expand-custom > .container,
      .navbar-expand-custom > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }
      .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
      }
      .navbar-expand-custom .navbar-toggler {
        display: none;
      }

}



@media (max-width: 480px){
    .container{
        max-width: 100%;
        margin:0 !important;
    }

    .middle{
        display: flex;
        flex-wrap: wrap;

    }

    #main-block{
        order:1;
        width:100%;
        position: static;
        padding: 0;
        
    }
        .main-inner-content{
            display: block;
            width: 100%;
        }
        .sonraki-sayfa{
            position: static;
            text-align: right;
            display: block;
            margin-bottom: 20px;
            padding-right: 30px;
        }
          .card-img-top{
              width: 600px;
              height: 155px;
          }
            .fa.fa-camera-retro{
                font-size: 7rem;
            }
    #blue-block{
        order: 2;
        width:100%;
        position: static;
    }
        .inner-left{
            position: static;
            display: block;
            width: 100%;
        }
            .toggle-button-left{
                display: none;
            }
            .inner-inner-left{
                display: block;
                opacity: 1;
                position: static;
                width: 100%;
                height: auto; 
            }


    #green-block{
        order:3;
        width:100%;
        position: static;
    }

        .inner-right.sticky{
            position: static;
        }
            #green{
                display: none !important;
            }





}